extends layout

block content
  form.form(method="POST")
    div.form-group
      label(for="username") ID
      if user
        input.form-control(name="username", value=user.username, disabled)
      else
        input.form-control(name="username", required)

    div.form-group
      label(for="password") Password
      input.form-control(name="password", type="password", required)
    div.form-group
      label(for="password") Password confirm
      input.form-control(name="password-confirm", type="password", required)
    div.form-group
      label(for="email") Email
      if user
        input.form-control(name="email", type="email", value=user.email,  required)
      else
        input.form-control(name="email", type="email",  required)
    div.form-group
      if user
        button.btn.btn-primary 변경
      else
        button.btn.btn-primary 가입
          span.glyphicon.glyphicon-user
