extends layout

block content
    script(type='text/javascript' src='/javascripts/copy.js')
    h1 ьзды░й
    ul.list-unstyled
        -var index = 1;
        each a in attachments
            li
                div.panel.panel-default
                    div.panel-heading Rank #{index++}
                    div.panel-body(id="attachment-#{a.id}")
                        img(src=a.filepath alt=hostname+'/'+a.filepath style="min-width: 512px; max-width: 512px;" onclick='copy('+a.id+')')
                    div.panel-footer some information

